<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.5" targetFramework="net40" />
  <package id="MiYABiS.AppConfigTransform" version="1.0.4" targetFramework="net40" />
  <package id="Moca.NETConfiguration" version="1.0.2" targetFramework="net40" />
  <package id="Moca.NETControls" version="1.2.0" targetFramework="net40" />
  <package id="Moca.NETCore" version="2.3.1" targetFramework="net40" />
  <package id="Moca.NETWin" version="2.1.0" targetFramework="net40" />
  <package id="Moca.NETWindowsFormProject" version="3.3.1" targetFramework="net40" />
</packages>